<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- <probing privatePath="odac12c"/>-->

      <dependentAssembly>
        <assemblyIdentity name="odac12c"/>
        <!--  <bindingRedirect oldVersion="0.7" newVersion="1.0"/>-->
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>